
#contact-us{
	background: lightgray;
	margin-bottom: 2px;
	padding-bottom: 70px;
	
}
h1
{
	color:#000;
	padding:40px 0 40px 0;
	font-weight:400;
	
}
#contact-us h1{
	font-weight: 900;
	color: #007B5E;
	font-family: 'Bree Serif', serif;
	letter-spacing: 25px;
}
#contact-us h1::before{
	background-color: #000;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 35%;
	right: .5em;
	margin-left: -50%;
}
#contact-us h1::after{
background-color: #000;
content: "";
display: inline-block;
height: 2px;
position: relative;
vertical-align: middle;
width: 35%;
left: .5em;
margin-right: -50%;
}
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:30px;
}
.our-team-main img
{
	border-radius:25%;
	margin-bottom:20px;
	width: 100px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding: 30px;
	text-align:left;
	background:rgba(24, 216, 171, 0.1);
	
}
.team-back a{
	text-decoration: none;
	color: #007B5E;
	font-size: 15px;
	font-weight: 500;
	word-spacing: 10px;
}
.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 1.0s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/
